<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <style>
      label {
        display: block;
      }
    </style>
  </head>

  <body>
    <h1><%= title %></h1>
    <form method="post">
      <label>名前: <input type="text" name="name" size="10"></label>
      <label>メッセージ: <input type="text" name="msg" size="100"></label>
      <input type="submit" value="投稿">
    </form>
    <table>
      <tr>
        <thead>
          <th>名前</th>
          <th>メッセージ</th>
        </thead>
        <tbody>
<% messages.forEach(function(e, i, a) { %>
          <tr>
            <td><%= e.name %></td>
            <td><%= e.content %></td>
          </tr>
<% }); %>
        </tbody>
      </tr>
  </body>
</html>
