<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
  </head>

  <body>
    <h1><%= title %></h1>
    <%- content %><br>
    あなたはこのページを訪れた<%= num %>番目の方です．
  </body>
</html>
